In [1]:
# import module 
import pandas as pd 
import requests 
from bs4 import BeautifulSoup

In [2]:
# user define function 
# Scrape the data 
def getdata(url): 
    r = requests.get(url) 
    return r.text

In [3]:
# link for extract html data 
htmldata = getdata("https://www.goodreturns.in/petrol-price.html") 
soup = BeautifulSoup(htmldata, 'html.parser') 
result = soup.find_all("div", class_="gold_silver_table") 
print(result)

[<div class="gold_silver_table">
<table border="0" cellpadding="1" cellspacing="1" width="100%">
<tr class="first">
<td class="heading" width="200">City</td>
<td class="heading" width="200">Today Price</td>
<td class="heading" width="200">Yesterday's Price</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-new-delhi.html" title="New Delhi">New Delhi</a></td>
<td> ₹ 87.30</td>
<td> ₹ 86.95</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-kolkata.html" title="Kolkata">Kolkata</a></td>
<td> ₹ 88.63</td>
<td> ₹ 88.30</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-mumbai.html" title="Mumbai">Mumbai</a></td>
<td> ₹ 93.83</td>
<td> ₹ 93.49</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-chennai.html" title="Chennai">Chennai</a></td>
<td> ₹ 89.70</td>
<td> ₹ 89.39</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-gurgaon.html" title="Gurgaon">Gurgaon</a></td>
<td> ₹ 85.36</td>
<td> ₹ 85.02</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-noida.html" title="Noida">Noida</a></td>
<td> ₹ 86.39</td>
<td> ₹ 86.12</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-bangalore.html" title="Bangalore">Bangalore</a></td>
<td> ₹ 90.22</td>
<td> ₹ 89.93</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-bhubaneswar.html" title="Bhubaneswar">Bhubaneswar</a></td>
<td> ₹ 87.83</td>
<td> ₹ 87.63</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-chandigarh.html" title="Chandigarh">Chandigarh</a></td>
<td> ₹ 84.02</td>
<td> ₹ 83.68</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-hyderabad.html" title="Hyderabad">Hyderabad</a></td>
<td> ₹ 90.78</td>
<td> ₹ 90.42</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-jaipur.html" title="Jaipur">Jaipur</a></td>
<td> ₹ 93.63</td>
<td> ₹ 92.95</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-lucknow.html" title="Lucknow">Lucknow</a></td>
<td> ₹ 86.18</td>
<td> ₹ 85.91</td>
</tr>
<tr class="even_row">
<td><a href="/petrol-price-in-patna.html" title="Patna">Patna</a></td>
<td> ₹ 90.25</td>
<td> ₹ 89.92</td>
</tr>
<tr class="odd_row">
<td><a href="/petrol-price-in-trivandrum.html" title="Trivandrum">Trivandrum</a></td>
<td> ₹ 88.83</td>
<td> ₹ 89.00</td>
</tr>
</table>
</div>]

In [1]:
# Declare string var 
# Declare list 
mydatastr = '' 
result = [] 
  
# searching all tr in the html data 
# storing as a string 
for table in soup.find_all('tr'): 
    mydatastr += table.get_text() 
  
# set accourding to your required 
mydatastr = mydatastr[1:] 
itemlist = mydatastr.split("\n\n") 
  
for item in itemlist[:-5]: 
    result.append(item.split("\n")) 
  
result

NameError: name 'soup' is not defined

In [5]:
# Calling DataFrame constructor on list 
df = pd.DataFrame(result[:-8]) 
df

              0            1                  2
0          City  Today Price  Yesterday's Price
1     New Delhi      ₹ 87.30            ₹ 86.95
2       Kolkata      ₹ 88.63            ₹ 88.30
3        Mumbai      ₹ 93.83            ₹ 93.49
4       Chennai      ₹ 89.70            ₹ 89.39
5       Gurgaon      ₹ 85.36            ₹ 85.02
6         Noida      ₹ 86.39            ₹ 86.12
7     Bangalore      ₹ 90.22            ₹ 89.93
8   Bhubaneswar      ₹ 87.83            ₹ 87.63
9    Chandigarh      ₹ 84.02            ₹ 83.68
10    Hyderabad      ₹ 90.78            ₹ 90.42
11       Jaipur      ₹ 93.63            ₹ 92.95
12      Lucknow      ₹ 86.18            ₹ 85.91
13        Patna      ₹ 90.25            ₹ 89.92
14   Trivandrum      ₹ 88.83            ₹ 89.00